.tvshow-episode-item {
  border-bottom: solid 1px grey;
  text-align: left;
  cursor: pointer;
}
.tvshow-episode-item-row {
  position: relative;
}
.tvshow-episode-item-thumbnail {
  height: 100%;
  width: 100%;
}

@media (min-width: 350px) and (max-width: 768px) {
	.tvshow-episode-item-thumbnail {
	  height: 200px;
	  width: 200px;
	}
}
.tvshow-episode-item-description {
  padding: 5px;
  text-align: justify;
}
.tvshow-episode-item-text {
  display: inline-block;
  font-weight: lighter;
  font-size: 1em;
  margin-left: 5px;
}
.tvshow-episode-item-name {
  display: inline-block;
}
.tvshow-episode-item-detail {
  display: inline-block;
  position: absolute;
  right: 10px;
}
.tvshow-episode-item-duration {
  font-weight: lighter;
  font-size: 1em;
}
.lighter-text {
  font-weight: lighter;
  font-size: 1em;
}
