.tvshow-footer-buttons-container {
	text-align: left;
}

.tvshow-footer-button {
	background-color: transparent;
	border: none;
	border-bottom: solid 2px darkgrey;
	text-transform: capitalize;
	color: white;
	padding: 10px;
	outline: none;
	cursor: pointer;
	width: 30%;
}

.tvshow-episodes-seasons-button-fill {
	background-color: transparent;
	border: none;
	border-bottom: solid 2px darkgrey;
	text-transform: capitalize;
	color: transparent;
	padding: 10px;
	outline: none;
	cursor: pointer;
	width: 40%;
}

.selected {
	border-bottom: solid 3px lightgreen;
}