.tvshow-footer-buttons-container {
	text-align: left;
	border-bottom: solid 2px darkgrey;
}

.tvshow-footer-button {
	background-color: transparent;
	border: none;
	border-bottom: solid 2px darkgrey;
	text-transform: capitalize;
	color: white;
	padding: 10px;
	outline: none;
	cursor: pointer;
	width: 30%;
	margin-bottom: -3px;
}

.tvshow-footer-button:hover {
	background-color: rgba(21,21,21, .7);
}

.selected {
	border-bottom: solid 3px lightgreen;
}